src/localhost_8080/ItinerarySOAP/FlightService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://itinerary.dtu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://itinerary.dtu/" name="FlightService">
<types>
<xsd:schema>
<xsd:import namespace="http://lameduck.dtu/" schemaLocation="http://localhost:8080/ItinerarySOAP/FlightService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://itinerary.dtu/" schemaLocation="http://localhost:8080/ItinerarySOAP/FlightService?xsd=2"/>
</xsd:schema>
</types>
<message name="getFlightList">
<part name="parameters" element="tns:getFlightList"/>
</message>
<message name="getFlightListResponse">
<part name="parameters" element="tns:getFlightListResponse"/>
</message>
<message name="ParseException_Exception">
<part xmlns:ns1="http://lameduck.dtu/" name="fault" element="ns1:ParseException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="removeFlight">
<part name="parameters" element="tns:removeFlight"/>
</message>
<message name="removeFlightResponse">
<part name="parameters" element="tns:removeFlightResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addFlight">
<part name="parameters" element="tns:addFlight"/>
</message>
<message name="addFlightResponse">
<part name="parameters" element="tns:addFlightResponse"/>
</message>
<portType name="FlightService">
<operation name="getFlightList">
<input wsam:Action="http://itinerary.dtu/FlightService/getFlightListRequest" message="tns:getFlightList"/>
<output wsam:Action="http://itinerary.dtu/FlightService/getFlightListResponse" message="tns:getFlightListResponse"/>
<fault message="tns:ParseException_Exception" name="ParseException_Exception" wsam:Action="http://itinerary.dtu/FlightService/getFlightList/Fault/ParseException_Exception"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://itinerary.dtu/FlightService/getFlightList/Fault/ParseException"/>
</operation>
<operation name="removeFlight">
<input wsam:Action="http://itinerary.dtu/FlightService/removeFlightRequest" message="tns:removeFlight"/>
<output wsam:Action="http://itinerary.dtu/FlightService/removeFlightResponse" message="tns:removeFlightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://itinerary.dtu/FlightService/removeFlight/Fault/Exception"/>
</operation>
<operation name="addFlight">
<input wsam:Action="http://itinerary.dtu/FlightService/addFlightRequest" message="tns:addFlight"/>
<output wsam:Action="http://itinerary.dtu/FlightService/addFlightResponse" message="tns:addFlightResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://itinerary.dtu/FlightService/addFlight/Fault/Exception"/>
</operation>
</portType>
<binding name="FlightServicePortBinding" type="tns:FlightService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlightList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException_Exception">
<soap:fault name="ParseException_Exception" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="removeFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightService">
<port name="FlightServicePort" binding="tns:FlightServicePortBinding">
<soap:address location="http://localhost:8080/ItinerarySOAP/FlightService"/>
</port>
</service>
</definitions>