src/localhost_8080/ItinerarySOAP/ItineraryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://itinerary.dtu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://itinerary.dtu/" name="ItineraryService">
<types>
<xsd:schema>
<xsd:import namespace="http://itinerary.dtu/" schemaLocation="http://localhost:8080/ItinerarySOAP/ItineraryService?xsd=1"/>
</xsd:schema>
</types>
<message name="getItineraryList">
<part name="parameters" element="tns:getItineraryList"/>
</message>
<message name="getItineraryListResponse">
<part name="parameters" element="tns:getItineraryListResponse"/>
</message>
<message name="bookItinerary">
<part name="parameters" element="tns:bookItinerary"/>
</message>
<message name="bookItineraryResponse">
<part name="parameters" element="tns:bookItineraryResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="createItinerary">
<part name="parameters" element="tns:createItinerary"/>
</message>
<message name="createItineraryResponse">
<part name="parameters" element="tns:createItineraryResponse"/>
</message>
<message name="cancelItinerary">
<part name="parameters" element="tns:cancelItinerary"/>
</message>
<message name="cancelItineraryResponse">
<part name="parameters" element="tns:cancelItineraryResponse"/>
</message>
<message name="reset">
<part name="parameters" element="tns:reset"/>
</message>
<message name="resetResponse">
<part name="parameters" element="tns:resetResponse"/>
</message>
<message name="getItinerary">
<part name="parameters" element="tns:getItinerary"/>
</message>
<message name="getItineraryResponse">
<part name="parameters" element="tns:getItineraryResponse"/>
</message>
<portType name="ItineraryService">
<operation name="getItineraryList">
<input wsam:Action="http://itinerary.dtu/ItineraryService/getItineraryListRequest" message="tns:getItineraryList"/>
<output wsam:Action="http://itinerary.dtu/ItineraryService/getItineraryListResponse" message="tns:getItineraryListResponse"/>
</operation>
<operation name="bookItinerary">
<input wsam:Action="http://itinerary.dtu/ItineraryService/bookItineraryRequest" message="tns:bookItinerary"/>
<output wsam:Action="http://itinerary.dtu/ItineraryService/bookItineraryResponse" message="tns:bookItineraryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://itinerary.dtu/ItineraryService/bookItinerary/Fault/Exception"/>
</operation>
<operation name="createItinerary">
<input wsam:Action="http://itinerary.dtu/ItineraryService/createItineraryRequest" message="tns:createItinerary"/>
<output wsam:Action="http://itinerary.dtu/ItineraryService/createItineraryResponse" message="tns:createItineraryResponse"/>
</operation>
<operation name="cancelItinerary">
<input wsam:Action="http://itinerary.dtu/ItineraryService/cancelItineraryRequest" message="tns:cancelItinerary"/>
<output wsam:Action="http://itinerary.dtu/ItineraryService/cancelItineraryResponse" message="tns:cancelItineraryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://itinerary.dtu/ItineraryService/cancelItinerary/Fault/Exception"/>
</operation>
<operation name="reset">
<input wsam:Action="http://itinerary.dtu/ItineraryService/resetRequest" message="tns:reset"/>
<output wsam:Action="http://itinerary.dtu/ItineraryService/resetResponse" message="tns:resetResponse"/>
</operation>
<operation name="getItinerary">
<input wsam:Action="http://itinerary.dtu/ItineraryService/getItineraryRequest" message="tns:getItinerary"/>
<output wsam:Action="http://itinerary.dtu/ItineraryService/getItineraryResponse" message="tns:getItineraryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://itinerary.dtu/ItineraryService/getItinerary/Fault/Exception"/>
</operation>
</portType>
<binding name="ItineraryServicePortBinding" type="tns:ItineraryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getItineraryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="reset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ItineraryService">
<port name="ItineraryServicePort" binding="tns:ItineraryServicePortBinding">
<soap:address location="http://localhost:8080/ItinerarySOAP/ItineraryService"/>
</port>
</service>
</definitions>